<dev id="aggregators">
    <div class="pagination">
        {% if aggregators.has_prev %}
            <a href="{{ url_for(current_page, page=aggregators.prev_num) }}">&#8592; {{ aggregators.prev_num }}  </a>
        {% endif %} |
        {{ aggregators.page }} |
        {% if aggregators.has_next %}
            <a href="{{ url_for(current_page, page=aggregators.next_num) }}">{{ aggregators.next_num }} &#8594;</a>
        {% endif %}
        ({{ aggregators.total }} Total)
    </div>

    <ul class="block-list">
        {% for aggregator in aggregators.items %}
            <li>
                <img src="{{ url_for('.draw', agg_id=aggregator.id) }}" alt="{{ aggregator.smiles }}" />
                <p>
                    <cite>{{ aggregator.citations.first().short_reference }}</cite>
                </p>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if aggregators.has_prev %}
            <a href="{{ url_for(current_page, page=aggregators.prev_num) }}">&#8592; {{ aggregators.prev_num }}  </a>
        {% endif %} |
        {{ aggregators.page }} |
        {% if aggregators.has_next %}
            <a href="{{ url_for(current_page, page=aggregators.next_num) }}">{{ aggregators.next_num }} &#8594;</a>
        {% endif %}
        ({{ aggregators.total }} Total)
    </div>
</dev>